@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  --primaryColor: #dde7c7;
  --secondaryColor: #4646ff;
}

:root {
  font-size: 1.25rem;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--secondaryColor);
  color: white;
  text-shadow: 1px 1px 1px black;
  align-self: center;
  box-shadow: 0px 2px 3px black;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

button:active {
  transform: scale(0.95);
}

@media (min-width: 1280px) {
  :root {
    font-size: 1.5rem;
  }
}
