.drop-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  min-height: 110px;
}

.drop-container::-webkit-scrollbar {
  display: none;
}

#fav-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
