#form-container {
  border: 2px solid black;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin: auto 0;
  color: white;
  background-color: var(--secondaryColor);
  box-shadow: 0px 3px 3px black;
}

#form-container h2 {
  margin: 20px;
  font-size: 1.75rem;
  text-shadow: 2px 2px 1px black;
  border-bottom: 2px solid black;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

#form-container label,
#form-container input {
  margin-bottom: 10px;
}

#form-container label {
  font-size: 0.9rem;
  text-shadow: 2px 2px 1px black;
}

#form-container input {
  border: none;
  border-radius: 7px;
  border: 1px solid black;
  padding: 10px;
  width: 90%;
  font-size: 0.8rem;
}

#form-container input:focus {
  outline: none;
  border: 2px solid black;
}

#form-container button {
  margin: 10px;
  padding: 5px 40px;
  background-color: white;
  color: black;
  text-shadow: none;
}

#signup-link:visited {
  color: white;
}

#signup-link:visited {
  color: white;
}

#form-container p {
  font-size: 0.7rem;
}

#form-container p a {
  margin-left: 5px;
}

.error-msg {
  color: red;
  background-color: rgb(255, 215, 222);
  padding: 5px 10px;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 10px;
  text-shadow: none;
  font-weight: 800;
  border: 1px solid black;
}

.error-msg::before {
  content: "- ";
}

@media (min-width: 900px) {
  #form-container {
    width: 700px;
  }
}