header {
  display: flex;
  justify-content: center;
  background-color: var(--secondaryColor);
  color: white;
  text-shadow: 2px 2px 1px black;
  align-items: center;
  padding: 10px 0;
  margin: 10px;
  border: 2px solid black;
  box-shadow: 0px 3px 3px black;
  border-radius: 10px;
}
