/* To be changed */

.draggable {
  font-size: 0.5rem;
  word-wrap: break-word;
  list-style: none;
  user-select: none;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  height: 75px;
  display: inline;
  min-width: 4rem;
  min-height: 4rem;
  box-shadow: 0px 3px 5px black;
}

.draggable:hover {
  animation-name: hoverColor;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

@media (min-width: 1300px) {
  .draggable {
    min-width: 7rem;
    min-height: 7rem;
  }
  .draggable:hover {
    animation-name: hoverColor;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
  }
}

@keyframes hoverColor {
  from {
    border: 2px solid black;
  }
  to {
    border: 4px dashed white;
  }
}
